<div class="col-md-12">
    <form class="form-horizontal" role="form" ng-submit="Update()" novalidate name="formUbicacion">
        <fieldset>
            <legend>Editar Ubicación : {{motor.poblacion}}</legend>       
        </fieldset>
        <div ng-include="'/KitPruebas/templates/Ubicaciones/form.html'" ></div>
        <div class="form-group">
         <button class="btn btn-primary" type="submit" ng-disable="formUbicacion.$invalid">Guardar</button>
            <a href="#/Ubicaciones" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
</div>