<div class="form-group">
    <label class="control-label col-md-4">Estado</label>
    <div class="col-md-8">
        <input class="form-control" type="text" required name="estado" ng-model="ubicacion.estado" placeholder="Estado">
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-4">Población</label>
    <div class="col-md-8">
        <input class="form-control" type="text" required name="poblacion" ng-model="ubicacion.poblacion" placeholder="Población">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">Teléfono</label>
    <div class="col-md-8">
        <input class="form-control" type="text" required name="telefono" ng-model="ubicacion.telefono" placeholder="Teléfono">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">Cliente</label>
    <div class="col-md-8">
        <select class="form-control" ng-model="ubicacion.cliente" name="cliente" ng-options="c.razonSocial for c  in clientes | orderBy: 'razonSocial'" ></select>
    </div>
</div>