*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
target/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
!/src/main/webapp/WEB-INF/lib/jasperreports-functions-6.0.0.jar
!/src/main/webapp/WEB-INF/lib/GloberBook.jar