<div class="container-content" ng-cloak="true">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" bs-collapse>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="" bs-collapse-toggle>Opciones</a>
                            </h4>
                        </div>
                        <div class="panel-collapse" bs-collapse-target>
                            <div class="panel-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="form-inline">
                                            <div class="form-group text-center">
                                                <label class="control-label"><i class="fa fa-search"></i> Scale</label><br>
<!--                                                <button type="button" style="width: 5em; text-align: left" class="btn btn-default" ng-model="options.scale" ng-options="s for s in ['minute', 'hour', 'day', 'week', 'month', 'quarter', 'year']" bs-select></button>-->
                                            </div>                                            
                                            <div class="form-group input-append text-center">
                                                <label class="control-label"><i class="fa fa-filter"></i> Filtro de Pruebas</label><br>
                                                <input type="text" class="form-control" style="width: 8em; text-align: left" ng-model="options.filterTask">
                                            </div>
                                            <div class="form-group input-append text-center">
                                                <label class="control-label"><i class="fa fa-filter"></i> Filtro de carriles</label><br>
                                                <input type="text" class="form-control" style="width: 8em; text-align: left" ng-model="options.filterRow">
                                            </div>


                                            <div class="form-group text-center">
                                                <label class="control-label"><i class="fa fa-calendar"></i> <i class="fa fa-arrows-h"></i> <i class="fa fa-calendar"></i> Rango de Fechas</label><br>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" ng-model="options.fromDate" max-date="{{options.toDate}}" start-date="{{options.currentDateValue.toString()}}" start-week="1" placeholder="Desde" bs-datepicker>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" ng-model="options.toDate" min-date="{{options.fromDate}}" start-date="{{options.currentDateValue.toString()}}" start-week="1" placeholder="Hasta" bs-datepicker>
                                                </div>
                                            </div>

                                            <!--                                            <div class="form-group text-center">
                                                                                            <label class="control-label"><i class="fa fa-sign-out"></i> Non-working</label><br>
                                                                                            <button type="button" style="width: 8em; text-align: left" class="btn btn-default" ng-model="options.timeFramesNonWorkingMode" ng-options="e for e in ['visible', 'hidden', 'cropped']" bs-select></button>
                                                                                        </div>
                                            
                                                                                        <div class="form-group text-center">
                                                                                            <label class="control-label"><i class="fa fa-database"></i> Data actions</label><br>
                                                                                            <div class="btn-group">
                                                                                                <button class="btn btn-default" ng-click="addSamples()">Reload</button>                                                    
                                                                                                <button class="btn btn-default" ng-click="removeSamples()">Clear</button>
                                                                                            </div>
                                                                                        </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-12">
                <div class="panel-group" bs-collapse>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="" bs-collapse-toggle>Plan de Prueba de Arranque de Plantas de Emergencia </a>
                            </h4>
                        </div>
                        <div class="panel-collapse" bs-collapse-target>
                            <div class="panel-body">
                                <div gantt
                                     filter-task="{'name': options.filterTask}"
                                     filter-row="{'name': options.filterRow}"
                                     sort-mode="options.mode"
                                     view-scale="options.scale"
                                     column-width="options.width && {minute: 40, hour: 40, day: 40, week: 150, month: 300, quarter: 500, year: 800}[options.scale] || undefined"
                                     auto-expand="options.autoExpand"
                                     task-out-of-range="options.taskOutOfRange"
                                     from-date = "options.fromDate"
                                     to-date = "options.toDate"
                                     show-labelscolumn="options.showLabelsColumn"
                                     current-date="options.currentDate"
                                     current-date-value="options.currentDateValue"
                                     max-height="options.maxHeight && 300 || 0"
                                     headers-formats="options.headersFormats"
                                     headers="options.headers"
                                     time-frames="options.timeFrames"
                                     date-frames="options.dateFrames"
                                     time-frames-non-working-mode="options.timeFramesNonWorkingMode"
                                     api="options.api"
                                     column-magnet="options.columnMagnet">
                                    <gantt-tooltips></gantt-tooltips>
                                    <gantt-bounds></gantt-bounds>
                                    <!--                                    <gantt-sortable></gantt-sortable>
                                                                        <gantt-movable allow-moving="!options.readOnly" allow-resizing="!options.readOnly" allow-row-switching="!options.readOnly"></gantt-movable>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
