<div class="form-group">
    <label class="control-label col-md-4">
        Descripción
    </label>
    <div class="col-md-8">
        <input class="form-control" ng-model="kit.descripcion" name="descripcion"  placeholder="Descripcion...." >
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-4">
        Equipo
    </label>
    <div class="col-md-8">
        <input class="form-control" ng-model="kit.equipo" name="equipo" required placeholder="Equipo...." >
    </div>
</div>