<div class="row" >
    <center>
        <div style="width: 100%; height: 20px; background-color: #344251;">
            <center><b style="font-size: 14px; color: #FFF">Reporte de prueba sin carga</b></center>
        </div>
    </center>
    <br>
    <table style="width: 100%;" >
        <tr>
            <td style="width: 70%">
                <div class="col-md-9" style="max-height: 400px">
                    <table class="table table-condensed" >
                        <caption>
                            <div style="width: 100%; height: 20px; background-color: #344251;">
                                <center><b style="font-size: 14px; color: #FFF">Valores Esperados</b></center>
                            </div>
                        </caption>
                        <thead>
                            <tr>
                                <th></th>
                                <th colspan="3" class="text-center">Amps</th>
                                <th colspan="3" class="text-center">Volts</th>
                                <th>HZ</th>
                                <th>°C</th>
                                <th>PSI</th>
                                <th>Amp</th>
                            </tr>   
                            <tr>
                                <th style="width: 50px;"></th>
                                <th style="width: 35px;">I1</th>
                                <th style="width: 35px;">I2</th>
                                <th style="width: 35px;">I3</th>
                                <th style="width: 35px;">L1 - L2</th>
                                <th style="width: 35px;">L2 - L3</th>
                                <th style="width: 35px;">L3 - L1</th>
                                <th style="width: 35px;">Frec</th>
                                <th style="width: 35px;">Temp.</th>
                                <th style="width: 35px;">P. Oil</th>
                                <th style="width: 35px;">C. Alt</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 50px;">
                                    <button class="btn btn-danger" type="button" style="width: 50px;">
                                        <span class="glyphicon glyphicon-chevron-up"></span> Max
                                    </button>
                                </td>
                                <td style="width: 35px;">{{ValMax_I1_SC}}</td>
                                <td style="width: 35px;">{{ValMax_I2_SC}}</td>
                                <td style="width: 35px;">{{ValMax_I3_SC}}</td>
                                <td style="width: 35px;">{{ValMax_L1N_SC}}</td>
                                <td style="width: 35px;">{{ValMax_L2N_SC}}</td>
                                <td style="width: 35px;">{{ValMax_L3N_SC}}</td>
                                <td style="width: 35px;">{{ValMax_Frec_SC}}</td>
                                <td style="width: 35px;">{{ValMax_Temp_SC}}</td>
                                <td style="width: 35px;">{{ValMax_Presion_SC}}</td>
                                <td style="width: 35px;">{{ValMax_Carga_Alter_SC}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn btn-danger" type="button" style="width: 50px;">
                                        <span class="glyphicon glyphicon-chevron-down"></span> Min
                                    </button>
                                </td>
                                <td>{{ValMin_I1_SC}}</td>
                                <td>{{ValMin_I2_SC}}</td>
                                <td>{{ValMin_I3_SC}}</td>
                                <td>{{ValMin_L1N_SC}}</td>
                                <td>{{ValMin_L2N_SC}}</td>
                                <td>{{ValMin_L3N_SC}}</td>
                                <td>{{ValMin_Frec_SC}}</td>
                                <td>{{ValMin_Temp_SC}}</td>
                                <td>{{ValMin_Presion_SC}}</td>
                                <td>{{ValMin_Carga_Alter_SC}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>

            <td rowspan="2" >
                <div class="col-md-3" style="width:100%">
                    <datosprueba></datosprueba>
                    <div class="row">            
                        <div class="col-sm-12" >
                            <incidenciasctrl></incidenciasctrl>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="col-md-9" style="max-height: 400px">
                    <table class="table table-condensed">
                        <caption>
                            <div style="width: 100%; height: 20px; background-color: #344251;">
                                <center><b style="font-size: 14px; color: #FFF">Valores</b></center>
                            </div>
                        </caption>
                        <thead>
                            <tr>
                                <th></th>
                                <th colspan="3" class="text-center">Amps</th>
                                <th colspan="3" class="text-center">Volts</th>
                                <th>HZ</th>
                                <th>°C</th>
                                <th>PSI</th>
                                <th>Amp</th>
                            </tr>   
                            <tr>
                                <th style="width: 50px;">Tiempo</th>
                                <th style="width: 35px;">I1</th>
                                <th style="width: 35px;">I2</th>
                                <th style="width: 35px;">I3</th>
                                <th style="width: 35px;">L1 - L2</th>
                                <th style="width: 35px;">L2 - L3</th>
                                <th style="width: 35px;">L3 - L1</th>
                                <th style="width: 35px;">Frec</th>
                                <th style="width: 35px;">Temp.</th>
                                <th style="width: 35px;">P. Oil</th>
                                <th style="width: 35px;">C. Alt</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lectura in data| orderBy:'x':'reverse' | limitTo:'1'">
                                <td style="width: 50px;">{{lectura.x}}</td>
                                <td style="width: 35px;">{{lectura.I1}}</td>
                                <td style="width: 35px;">{{lectura.I2}}</td>
                                <td style="width: 35px;">{{lectura.I3}}</td>
                                <td style="width: 35px;">{{lectura.L1L2}}</td>
                                <td style="width: 35px;">{{lectura.L2L3}}</td>
                                <td style="width: 35px;">{{lectura.L3L1}}</td>
                                <td style="width: 35px;">{{lectura.HZ}}</td>
                                <td style="width: 35px;">{{lectura.Temp}}</td>
                                <td style="width: 35px;">{{lectura.Presion}}</td>
                                <td style="width: 35px;">{{lectura.Bateria}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="row text-center">
    <div class="col-md-12">
        <center>
            <div style="width: 100%; height: 20px; background-color: #344251;">
                <center><b style="font-size: 14px; color: #FFF">Valores durante la prueba</b></center>
            </div>
        </center>        
        <div class="row">            
            <div class="col-md-12">
                <center>
                    <table>
                        <tr>
                            <td class="text-center">
                                <b>Voltaje</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="width:1000px;height: 300px" >
                                    <linechart data="data" options="optionsVoltaje" mode=""></linechart>
                                </div>
                            </td>
                        </tr>
                    </table>
                </center>
            </div>
        </div>
        <div class="row">            
            <div class="col-md-12">
                <center>
                    <table>
                        <tr>
                            <td class="text-center">
                                <b>Frecuencia</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="width:1000px;height: 300px">
                                    <linechart data="data" options="optionsFrecuencia" mode=""></linechart>
                                </div>
                            </td>
                        </tr>
                    </table>
                </center>
            </div>
        </div>        
        <div class="row">
            <div class="col-md-12">
                <center>
                    <table>
                        <tr>
                            <td class="text-center">
                                <b>Temperatura</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="width:1000px;height: 300px">
                                    <linechart data="data" options="optionsTemperatura" mode=""></linechart>                    
                                </div>
                            </td>
                        </tr>
                    </table>
                </center>
            </div>
        </div>
        <div class="row">            
            <div class="col-md-12">
                <center>
                    <table>
                        <tr>
                            <td class="text-center">
                                <b>Presi&oacute;n de Aceite</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="width:1000px;height: 300px">
                                    <linechart data="data" options="optionsPresionAceite" mode=""></linechart>
                                </div>
                            </td>
                        </tr>
                    </table>
                </center>
            </div>
        </div>               
        <div class="row">
            <div class="col-md-12">
                <center>
                    <table>
                        <tr>
                            <td class="text-center">
                                <b>Corriente</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="width:1000px;height: 300px">
                                    <linechart data="data" options="optionsCorriente" mode=""></linechart>
                                </div>
                            </td>
                        </tr>
                    </table>
                </center>
            </div>
        </div>
        <div class="row">            
            <div class="col-md-12">
                <center>
                    <table style="background: transparent;">
                        <tr>
                            <td class="text-center">
                                <b></b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="width:1000px;height: 300px">
                                </div>
                            </td>
                        </tr>
                    </table>
                </center>
            </div>
        </div>        
    </div>
</div>