<nav class="navbar navbar-default  navbar-fixed-top" role="navigation" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button"  class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"  ng-show="user !== undefined">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/Inicio" id="menu-toggle" >
            <img style="width:150px" src="/img/EV.png" class="img-responsive hidden-xs" alt="" />
        </a>                    
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <li class="dropdown" >
            <a href class="dropdown-toggle" data-toggle="dropdown">                            
                <i class="fa fa-user" ></i>                            
                Bienvenid@ {{user.username}} 
                <b class="caret"></b>                            
            </a>
            <ul class="dropdown-menu" ng-show="user !== undefined">
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Cuenta</a>
                </li>                
                <li class="divider"></li>
                <li>                    
                    <a href="/j_spring_security_logout"><i class="fa fa-fw fa-power-off"></i> Cerrar Sesión</a>
                </li>
            </ul>
        </li>
        <li class="hidden-xs">
            <a href style="padding:0px" >
                <img src="/img/LogoSelmec.png" class="img-responsive" style="width:150px" alt=""/>
            </a>
        </li>
    </ul>    
    <div bs-navbar class="collapse navbar-collapse navbar-ex1-collapse" >
        <ul class="nav navbar-nav side-nav toggled" ng-show="user !== undefined">
            <li data-match-route="/NuevaPrueba" ng-show="hasRole('Administrador')">
                <a href="#/NuevaPrueba">                                
                    Nueva
                </a>
            </li>
            <li data-match-route="/Pruebas" ng-show="hasRole('Administrador') || hasRole('Tecnico Pruebas Ensamble') ">
                <a href="#/Pruebas">Pruebas</a>
            </li>
            <li data-match-route="/ProgramacionPruebasEnsamble" ng-show="hasRole('Administrador')">
                <a href="#/ProgramacionPruebasEnsamble">Programación de Pruebas de Ensamble </a>
            </li>
            <li data-match-route="/ProgramacionPruebasArranque" ng-show="hasRole('Administrador')">
                <a href="#/ProgramacionPruebasArranque">Programación de Pruebas de Arranques</a>                            
            </li>
            <li data-match-route="/NuevoArranque" ng-show="hasRole('Administrador')">
                <a href="#/NuevoArranque">Nuevo Arranque</a>
            </li>
            <li data-match-route="/PruebasArranque" ng-show="hasRole('Administrador')">
                <a href="#/PruebasArranque">Pruebas Arranque</a>
            </li>
            <li data-match-route="/Clientes" ng-show="hasRole('Administrador')">
                <a href="#/Clientes">Clientes</a>
            </li>
            <li data-match-route="/Motores" ng-show="hasRole('Administrador')">
                <a href="#/Motores" class="dropdown-toggle">Motores</a>                                        
            </li>
            <li data-match-route="/Incidencias" ng-show="hasRole('Administrador')">
                <a href="#/Incidencias" class="dropdown-toggle">Incidencias</a>                                        
            </li>
            <li data-match-route="/Usuarios" ng-show="hasRole('Administrador')">
                <a href="#/Usuarios" class="dropdown-toggle">Usuarios</a>                                        
            </li> 
            <li data-match-route="/Ubicaciones" ng-show="hasRole('Administrador')">
                <a href="#/Ubicaciones" class="dropdown-toggle">Ubicaciones</a>                                        
            </li> 
            <li data-match-route="/Carriles" ng-show="hasRole('Administrador')">
                <a href="#/Carriles" class="dropdown-toggle">Carriles</a>                                        
            </li> 
            <li data-match-route="/Kits" ng-show="hasRole('Administrador')">
                <a href="#/Kits" class="dropdown-toggle">Kits</a>                                        
            </li>                                
            <li data-match-route="/Generador" ng-show="hasRole('Administrador')">
                <a href="#/Generador" class="dropdown-toggle">Generadores</a>                                        
            </li>                                
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>