<div class="form-group">
    <label class="control-label col-md-4">Modelo</label>
    <div class="col-md-8">
        <input class="form-control" type="text" required name="modelo" ng-model="generador.modelo" placeholder="Modelo">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">Código</label>
    <div class="col-md-8">
        <input class="form-control" type="text" required name="codigo" ng-model="generador.codigo" placeholder="Código">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">Marca</label>
    <div class="col-md-8">
        <input class="form-control" type="text" required name="marca" ng-model="generador.marca" placeholder="Marca">
    </div>
</div>
