<div class="col-md-12">
    <fieldset>
        <legend>Códigos de Resultados de Prueba</legend>
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline" role="form" name="fromSearch" novalidate>
                    <div class="form-group">
                        <label class="control-label col-md-4">Código</label>
                        <div class="col-md-8">
                            <input name="id" ng-model="search.id" class="form-control" type="text"/>                
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Descripción</label>
                        <div class="col-md-8">
                            <input name="descripcion" ng-model="search.descripcion" class="form-control" type="text"/>                
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">    
                <div class="row">
                    <div class="col-md-12 text-right">    
                        <a href="#/Incidencias/Create" class="btn btn-primary">Agregar</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">    
                        <table class="table table-bordered table-condensed table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Descripción</th>
                                    <th>Acción</th>
                                </tr>                                
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in result()">
                                    <td><a href="#/Incidencias/Edit/{{row.id}}">{{row.id}}</a></td>
                                    <td>{{row.descripcion}}</td>
                                    <td>
                                        <button class="btn btn-danger">Borrar</button></td>                          
                                </tr>
                            </tbody>
                            <tfoot>                
                                <tr>
                                    <td colspan="12" class="text-right">
                                        <label>
                                            <span ng-show="total !== 0">
                                                Pagina {{current + 1}} de {{total}} 
                                            </span>Total de resultados {{totalRows}}
                                        </label>
                                    </td>
                                </tr>
                            </tfoot>                        
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="pagination">
                            <li><a ng-click="previous()">&laquo;</a></li>
                            <li ng-repeat="page in pages"  ng-class="{active : page === current}">
                                <a ng-click="setPage(page)">{{page + 1}}</a>
                            </li>                   
                            <li><a ng-click="next()">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>