<div class="row">
    <div class="col-md-12">      
        <div class="row">            
            <div class="col-md-12">                        
                <form class="form-inline" role="form" name="fromSearch" novalidate>
                    <fieldset>
                        <legend>Inventarios de Pruebas</legend>
                        <div class="form-group">
                            <label class="sr-only">Folio</label>
                            <input name="folio" ng-model="search.folio" class="form-control" type="text" placeholder="Folio"/>                
                        </div>
                        <div class="form-group">
                            <label class="sr-only">OP</label>
                            <input name="folio" ng-model="search.planta.noOp" class="form-control" type="text" placeholder="OP"/>                
                        </div>
                        <div class="form-group">
                            <label class="sr-only">No Serie Planta</label>
                            <input name="noSerie" ng-model="search.planta.noSerie" class="form-control" type="text" placeholder="No Serie Planta"/>                
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Estatus Prueba</label>
                            <input name="noSerie" ng-model="search.planta.noSerie" class="form-control" type="text" placeholder="No Serie Planta"/>                
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Carril</label>
                            <select name="Estatus" ng-model="search.Estatus" class="form-control" ng-options="e for e in Estatus">
                                <option value="">Todos</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Modelo Motor</label>
                            <input name="noCarril" ng-model="search.planta.motores.modelo" class="form-control" type="text" placeholder="Modelo de Planta"/>                              
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Capacidad</label>
                            <input name="noCarril" ng-model="search.planta.motores.kw" class="form-control" type="text" placeholder="Capacidad Planta"/>                              
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Voltaje Prueba</label>
                            <input name="noCarril" ng-model="search.planta.voltaje" class="form-control" type="text" placeholder="Voltaje de Prueba"/>                                

                        </div>
                    </fieldset>
                </form>
            </div> 
        </div>      
        <div class="row"> 
            <div class="col-md-12">
                <table class="table table-bordered table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Folio</th>
                            <th>No Serie</th>
                            <th>No OP</th>
                            <th>Modelo</th>
                            <th>Carril</th>
                            <th>Marca Generador</th>
                            <th>Capacidad (KW)</th>
                            <th>Voltaje De Prueba</th>
                            <th>No Fases</th>
                            <th>Guardas</th>
                            <th>Radiador</th>
                            <th>Programada</th>
                            <th>Estatus</th>
                            <th>Creación</th>
                            <th>Ejecutor</th>
                        </tr>
                    </thead>
                    <tr  ng-repeat="prueba in result()">
                        <td>  
                            <a href="#/Pruebas/{{prueba.id}}" title="{{prueba.folio}}">{{prueba.folio}}</a>                    
                        </td>
                        <td>
                            {{prueba.planta.noSerie}}
                        </td>
                        <td>
                            {{prueba.planta.noOp}}
                        </td>
                        <td>
                            {{prueba.planta.motores.modelo}}
                        </td>
                        <td>
                            {{prueba.carriles.noCarril}}
                        </td>
                        <td>
                            {{prueba.planta.motores.generadorMarca}} 
                        </td>
                        <td>
                            {{prueba.planta.motores.kw}} kW
                        </td>
                        <td>
                            {{prueba.planta.voltaje}} v
                        </td>
                        <td>
                            {{prueba.planta.motores.noFases}}
                        </td>
                        <td>
                            {{prueba.guardas}}
                        </td>
                        <td>
                            {{prueba.rediador}}
                        </td>
                        <td>{{prueba.dtProgramada| date : 'dd-MM-yyyy hh:ss' }}</td>
                        <td>
                            {{prueba.Estatus}}
                        </td>
                        <td>
                            {{prueba.dtCreacion| date : 'dd-MM-yyyy hh:ss'}}
                        </td>
                        <td>
                            {{prueba.usuarioId.nombres}}
                        </td>
                    </tr>  
                    <tfoot>                
                        <tr>
                            <td colspan="15" class="text-right">
                                <label ng-show="total !== 0">                                    
                                    Página <span class="badge"> {{current + 1}}</span> de <span class="badge">{{total}} </span>                                   
                                    Total de resultados <span class="badge"> {{totalRows}} </span>
                                </label>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>   
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="pagination">
                    <li><a ng-click="previous()">&laquo;</a></li>
                    <li ng-repeat="page in pages"  ng-class="{active : page === current}">                        
                        <a ng-click="setPage(page)">{{page + 1}}</a>
                    </li>                   
                    <li><a ng-click="next()">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>         
</div>
