<div class="form-group">
    <label class="control-label col-md-4">No Cliente</label>
    <div class="col-md-8">
        <input class="form-control" type="text" required name="noCliente" ng-model="cliente.noCliente" placeholder="No Cliente">
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-4">Razón Social</label>
    <div class="col-md-8">
        <input class="form-control" type="text" required name="razonSocial" ng-model="cliente.razonSocial" placeholder="Razón Social">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">RFC</label>
    <div class="col-md-8">
        <input class="form-control" type="text" required name="RFC" ng-model="cliente.rfc" placeholder="RFC">
    </div>
</div>
